body{
	background-color: #cedebd;
}
hr{
	border-style: none;
	border-top-style: dotted;
	border-top-width: 5px;
	border-top-color: #d9adad;
	width: 10%;
}
h1{
	color: #ad9d9d;
	font-family: Courier New;
}
h3{
	color: #ad9d9d;
}
